# Node.js dependencies
node_modules/

# Compiled output
build/
*.log

# Environment variables
.env

# IDE and editor specific files
.vscode/
.idea/
*.iml

# Operating System files
.DS_Store
Thumbs.db
